#gnb .logo img{width: 50%;height: 50%;}
#myMenu li{font-size: 4em;}
.circle{width: 300px !important;height: 300px !important;}
.circle p{font-size: 6.6em;}

.SectionWrap{flex-direction: column;}
.profile{margin-top: -5%;}
.profile li:nth-of-type(1){padding:0;}
.profile li:nth-of-type(1) img{width: 30%;height: 100%;}
.profile h1{font-size: 5em;padding-top: 4%;box-sizing: border-box;}
.profile li:nth-of-type(2) p{padding: 0;font-size: 2.5em;}


.introduce li h2{font-size: 3em;}
.introduce dl{padding:0;}
.introduce dt,.introduce dd{font-size: 2.5em;}
.introduce li:nth-of-type(2){flex:0 1 100%;}
.introduce li:nth-of-type(3){flex:0 1 100%;}
.introduce li:nth-of-type(3) p,.introduce li:nth-of-type(4) p{font-size: 2.5em;}

.skillList h3{font-size: 3em;}
.skillList ul{justify-content: space-around;}
.skillList li{background-size: 110% !important;}


.studying{width: 80% !important;height: 30%;}
.studying h3{font-size: 6em;}
.studying li{font-size: 2.5em;}


.thankU{width: 50% !important;height: 20% !important;}
.thankU p:nth-of-type(1){font-size: 8em;}
.thankU p:nth-of-type(2){font-size:3.5em;}
#footer p{font-size: 2em;}
